<a href="https://colab.research.google.com/github/AuliaInsanii/FromColab/blob/main/Pertemuan5_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Buku : Pengenalan machine learning dengan python**

Regression Linear untuk forecasting

Regression Logistic untuk klasifikasi

Data inbalance akan memprediksi data yang mayoritas
Misalnya, di amerika ada suatu model untuk memprediksi apakah orang penjahat atau tidak, akibat dari data yang kulit hitam lebih banyak daripada kulit putih maka model memprediksi bahwa penjahat adalah kulit hitam skarena data yang inbalance dan mengakibatkan overfitting.

Undersampling 
Kekurangan : kita mengenerate data sehingga data copy dan sebaran data tidak merata sehingga perlunya balance data agar model tidak salah memprediksi

## **Decision Tree Regression**

Pohon keputusan adalah alat pendukung keputusan yang menggunakan model keputusan. Pohon keputusan biasanya digunakan research operasi atau pengambilan keputusan. Data yang sangat besar akan dibagi ke kelompok yang kecil sesuai dengan atrbutnya, dimana data dibagi terus menerus sampai data sesuai dengan kelompok. Ini mirip dengan manusia yang mana memecah data sesuai dengan pengalamannya sedangkan komputer memecah data sesuai dengan information gen.

Decision tree merupakan supervised learning yang menggantikan manusia membuat keputusan sesuai dengan data masa lalu. Decision tree digunakan untuk klasifikasi dan prosesnya dapat dsimulasikan sebagai pohon sehingga decision tree dapat memberitahukan bagaimana model dalam decison tree.

Cara untuk menggunakan Decision Tree

1. CART (Classification and Regression Tree)
Merupakan turunan dari metode lain yaitu CA45. CA45 merupakan turunan dari IDI Tree. Pada dasarnya IDI Tree dilakukan **splitting atau pemecahan data** berdasarkan data yang ada dalam dua kelompok dengan mengukur suatu angka yang disebut **entropi**. Entropi adalalh seberapa acak data itu. Semakin rendah entropi menunjukkan kelompok data semakin homogen atau sejenis atau kelompok yang sama. Jika entropi =  0 maka data sudah homogen semua atau seragam atau tidak acak. Jika entropi =  1 maka kelompok data sudah acak atau 50:50.
Misalnya, data sedan semua maka entropinya adalah 0. Jika saya memiliki 20 data sedan dan 20 data minibus maka data 50:50 dan nilai entropi = 1. Data dikelompokkan dari atas ke bawah sampai nilai **entropinya semakin rendah atau 0** atau data benar-benar sudah homogen. 

Untuk mencegah decision tree semakin panjang atau overfitting. Overfitting adalah modelnya bagus di datanya saja dan ketika digunakan pada data yang baru menjadi tidak bagus. Mencegah overfitting, dilakukan prunning atau pemangkasan pada pohon. Cabang yang terlalu panjang di node - node dan node yang paling atas dijadikan big node.

In [1]:
import pandas as pd

df = pd.read_csv("/content/decisiontree_ch6.csv")
df

    ID   mesin  bangku penggerak    label
0    1  bensin       4     depan    sedan
1    2  bensin       2     depan    sedan
2    3  bensin       8  belakang  minibus
3    4  diesel       6     depan  minibus
4    5  bensin       5  belakang  minibus
5    6  diesel       8  belakang  minibus
6    7  diesel       8  belakang  minibus
7    8  bensin       4     depan    sedan
8    9  diesel       7  belakang  minibus
9   10  bensin       4     depan    sedan
10  11  bensin       2     depan    sedan
11  12  diesel       6  belakang  minibus
12  13  diesel       8     depan  minibus
13  14  bensin       4     depan    sedan
14  15  diesel       2     depan    sedan
15  16  bensin       4     depan    sedan
16  17  bensin       8  belakang  minibus
17  18  bensin       4     depan    sedan
18  19  diesel       8  belakang  minibus
19  20  diesel       8  belakang  minibus
20  21  bensin       4     depan    sedan
21  22  bensin       4     depan  minibus
22  23  diesel       8  belakang  minibus
23  24  bensin       4     depan    sedan
24  25  bensin       5  belakang  minibus
25  26  bensin       4     depan  minibus
26  27  diesel       8  belakang  minibus
27  28  bensin       4     depan    sedan
28  29  bensin       7  belakang  minibus
29  30  bensin       4     depan    sedan
30  31  bensin       4     depan    sedan
31  32  bensin       2     depan    sedan
32  33  bensin       8  belakang  minibus
33  34  diesel       6     depan  minibus
34  35  bensin       5  belakang  minibus
35  36  diesel       8  belakang  minibus
36  37  diesel       4  belakang  minibus
37  38  bensin       4     depan    sedan
38  39  diesel       5  belakang  minibus
39  40  bensin       4     depan    sedan

In [2]:
encoding = {"mesin":{"bensin":0, "diesel":1}, "penggerak":{"depan":0, "belakang":1}}

df.replace(encoding,inplace=True)

In [3]:
df

    ID  mesin  bangku  penggerak    label
0    1      0       4          0    sedan
1    2      0       2          0    sedan
2    3      0       8          1  minibus
3    4      1       6          0  minibus
4    5      0       5          1  minibus
5    6      1       8          1  minibus
6    7      1       8          1  minibus
7    8      0       4          0    sedan
8    9      1       7          1  minibus
9   10      0       4          0    sedan
10  11      0       2          0    sedan
11  12      1       6          1  minibus
12  13      1       8          0  minibus
13  14      0       4          0    sedan
14  15      1       2          0    sedan
15  16      0       4          0    sedan
16  17      0       8          1  minibus
17  18      0       4          0    sedan
18  19      1       8          1  minibus
19  20      1       8          1  minibus
20  21      0       4          0    sedan
21  22      0       4          0  minibus
22  23      1       8          1  minibus
23  24      0       4          0    sedan
24  25      0       5          1  minibus
25  26      0       4          0  minibus
26  27      1       8          1  minibus
27  28      0       4          0    sedan
28  29      0       7          1  minibus
29  30      0       4          0    sedan
30  31      0       4          0    sedan
31  32      0       2          0    sedan
32  33      0       8          1  minibus
33  34      1       6          0  minibus
34  35      0       5          1  minibus
35  36      1       8          1  minibus
36  37      1       4          1  minibus
37  38      0       4          0    sedan
38  39      1       5          1  minibus
39  40      0       4          0    sedan

In [4]:
X=df.drop(["ID", "label"], axis=1)
y=df["label"]

In [5]:
import sklearn.model_selection as ms

X_train, X_test, y_train, y_test = ms.train_test_split(X,y, test_size=0.2, random_state=0)

In [6]:
X_train

    mesin  bangku  penggerak
18      1       8          1
29      0       4          0
27      0       4          0
35      1       8          1
37      0       4          0
2       0       8          1
39      0       4          0
30      0       4          0
34      0       5          1
16      0       8          1
36      1       4          1
8       1       7          1
13      0       4          0
5       1       8          1
17      0       4          0
14      1       2          0
33      1       6          0
7       0       4          0
32      0       8          1
1       0       2          0
26      1       8          1
12      1       8          0
31      0       2          0
24      0       5          1
6       1       8          1
23      0       4          0
21      0       4          0
19      1       8          1
9       0       4          0
38      1       5          1
3       1       6          0
0       0       4          0

In [7]:
import sklearn.tree as tree
# max_depth : maximun kedalam tree
#criterion : kriteria untuk decision tree
model = tree.DecisionTreeClassifier(criterion='entropy', max_depth=1) 
model.fit(X_train, y_train)

tree.DecisionTreeClassifier(criterion='entropy', max_depth=1)

DecisionTreeClassifier(criterion='entropy', max_depth=1)

In [8]:
y_prediksi = model.predict(X_test)
y_prediksi

array(['minibus', 'sedan', 'sedan', 'minibus', 'sedan', 'sedan',
       'minibus', 'minibus'], dtype=object)

In [9]:
import sklearn.metrics as met
print(met.accuracy_score(y_test, y_prediksi))

0.875

In [10]:
import pydotplus as pp
labels = ['mesin', 'bangku', 'penggerak']
dot_data = tree.export_graphviz(model, out_file=None, feature_names=labels, filled=True, rounded=True)
graph = pp.graph_from_dot_data(dot_data)
graph.write_png('decisiontree.png')

True